EXPO_PUBLIC_TREASURY_CONTRACT_ADDRESS=
EXPO_PUBLIC_RPC_ENDPOINT=
EXPO_PUBLIC_REST_ENDPOINT=

EXPO_PUBLIC_RECLAIM_APP_ID=
EXPO_PUBLIC_RECLAIM_APP_SECRET=
EXPO_PUBLIC_RECLAIM_PROVIDER_ID=

EXPO_PUBLIC_RUM_CONTRACT_ADDRESS=

PROOF_PROPERTY_NAME= "the_property_name_same_as_in_the_contract_claim_key_same_as_in_the_reclaim_provider"